section.container-right {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--SoftViolet);
    opacity: 0.5;
    overflow: hidden;
  }

  img {
    width: 100%;
  }
}
